/* src/App.css */

/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff00cc;
  color: #053926;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoimage {
  max-width: 80px;
  max-height: 60px;
  min-width: 80px;
  min-height: 60px;
  margin: 5px 5px;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img {
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  margin-top: 10px;
  border-radius: 8px;
}
